In [14]:
string_given= " 2012-01-01 09:00   San Jose    Men's Clothing  214.05  Amex"
string_given

" 2012-01-01 09:00   San Jose    Men's Clothing  214.05  Amex"

In [27]:
output_string=list(string_given.strip().split())
output_string[2]=str.join(' ',(output_string[2],output_string[3]))
del output_string[3]
output_string[3]=str.join(' ',(output_string[3],output_string[4]))
del output_string[4]
output_string

['2012-01-01', '09:00', 'San Jose', "Men's Clothing", '214.05', 'Amex']

In [26]:
string_given= " 2012-01-01 09:00   San Jose    Men's Clothing  214.05  Amex"
output_string=list(string_given.split())
output_string[2]=str.join(' ',(output_string[2],output_string[3]))
del output_string[3]
output_string[3]=str.join(' ',(output_string[3],output_string[4]))
del output_string[4]
tupled_string=tuple(output_string)
print([tupled_string])

[('2012-01-01', '09:00', 'San Jose', "Men's Clothing", '214.05', 'Amex')]

In [25]:
splitted=output_string.replace(' ','\t')

AttributeError: 'list' object has no attribute 'replace'